/* footerFile.scss */
.footer {
    background-color: #333;
    color: #fff;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #041f37;
    color: white;
    height: 100px;
  }


  .left-content,
  .middle-content,
  .right-content {
    max-width: 30%; /* Limit the width of the right content */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
  }